/* Form & timeline styles */

#isvipi-timeline{
    width:550px;
    font-size:11px;
    font-family:'Lucida Grande',sans-serif;
    color:#333333;
	margin-left:auto;
	margin-right:auto;
}

#isvipi-timeline label{
    font-size:20px;
    display:block;
}

#isvipi-timeline .counter{
    color:#CCCCCC;
    float:right;
    font-family:Georgia,serif;
    font-size:32px;
    font-weight:bold;
    height:40px;
    overflow:hidden;
}

#isvipi-timeline textarea{
    width:550px;
    height:60px;
    padding: 4px 2px;
    font-family:'Lucida Grande',sans-serif;
    overflow:auto;
    font-size:14px;
	margin-top:20px;
}

#isvipi-timeline .clear{
    clear:both;
}

#isvipi-timeline .submitButton{
    color:#666666;
    font-size:14px;
    height:32px;
    width:130px;
	margin-top:10px;
    -moz-border-radius:6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
    border:1px solid #cccccc;
    float:right;
	cursor:pointer;
}

#isvipi-timeline .submitButton:hover{
    background-position:bottom;
    border-color:#dddddd;
    color:#333333;
	cursor:pointer;
}

#isvipi-timeline .inact,.inact:hover{
    background:#f5f5f5;
    border:1px solid #eeeeee;
    color:#aaaaaa;
    cursor:auto;
}

#isvipi-timeline .latest{
    color: #666666;
}

#isvipi-timeline ul.statuses{
    margin:10px 0;
}

#isvipi-timeline ul.statuses li {
    position:relative;
    border-bottom:1px dashed #D2DADA;
    padding:15px 15px 15px 10px;
    list-style:none;
    font-size:14px;
}

#isvipi-timeline ul.statuses li:first-child{
    border-top:1px dashed #D2DADA;
}

#isvipi-timeline ul.statuses li:hover {
    background-color:#F7F7F7;
}

#isvipi-timeline h3.timeline{
    margin-top:20px;
    color:#999999;
    font-size:20px;
    font-weight:normal;
}

#isvipi-timeline div.tweetTxt{
    float:right;
    width:400px;
    overflow:hidden;
}

#isvipi-timeline ul.statuses a img.avatar{
    float:left;
    margin-right:10px;
    border:1px solid #446600;
}
#isvipi-timeline div.date{
    line-height:18px;
    font-size:12px;
    color:#999999;
}

#isvipi-timeline li a, li a:visited {
    color:#007bc4;
    text-decoration:none;
    outline:none;
}

#isvipi-timeline li a:hover{
    text-decoration:underline;
}

.timeline_display {}
.user_timeline_image {float:left}